.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  
  .label-and-slider {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .search-bar-label {
    flex-shrink: 0;
  }
  
  .price-range-element {
    flex: 1;
  }
  
  .date-inputs {
    display: flex;
    gap: 10px;
  }
  
  .date-input {
    width: 150px;
  }
  
  .search-button {
    height: 30px; 
    background-color: #f0f0f0; 
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }